@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --color_text-primary: #1ED760; /* Verde */
    --color_text-secundary: #191414; /* Negro */
    --color_text-tertiary: #FFFFFF; /* Blanco */
    --color_text-fourth: #1B1A1A; /* Gris oscuro */
    --color_text-fifth: #7B7878; /* Gris claro */

    background-color: #1b1b1b; /* Negro */
    --lowText_font_size: 16px;
    --text_size_title: 40px;
    --text_title_card: 24px;
    --text_title_cardv2: 20px;
    --text_paragraph: 16px;
    --box_shadow-primary: 0px 6px 50px -20px rgba(0, 0, 0, 0.2);
}

/* Resto del CSS permanece igual */


header{
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 100;
}

.container_header{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.logo{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.logo img{
    width: 100px;
}

.menu{
    display: flex;
    align-items: center;
}

.menu nav{
    margin: 0px 20px;
}

.menu nav ul{
    display: flex;
}

.menu nav ul li{
    list-style: none;
    margin: 20px 16px;
}

.menu nav ul li a{
    color: var(--color_text-primary);
    font-size: var(--lowText_font_size);
    position: relative;
}

.menu nav ul li a:hover{
    color: var(--color_text-tertiary);
}

.btn_quote{
    display: block;
    padding: 8px 40px;
    border: 2px Variable var(--color_text-primary);
    border-radius: 8px;
    font-weight: 500;
    color: var(--color_text-primary);
    margin: 0px 20px;
    transition: all 300ms;
}

.btn_quote:hover{
    color: white;
    background: var(--color_text-tertiary);
}

.menu .socialMedia{
    margin: 0px 10px;
}

.menu .socialMedia a{
    margin: 0px 4px;
}

.menu .socialMedia img{
    width: 20px;
}
/*Portada inicio*/
.container_cover{
    padding-top: 100px;
    padding-bottom: 100px;
    background: var(--color_text-secundary);
}
.cover{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}
.text__cover{
    width: 100%;
    padding-right: 150px;
}
.text__cover h1{
    font-size: 50px;
    color: var(--color_text-primary);
}
.text__cover p{
    font-size: var(--text_paragraph);
    margin-top: 40px;
    color: var(--color_text-primary);
}
.btn__text{
    display: block;
    width: 150px;
    margin-top: 40px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 500;
    background: var(--color_text-primary);
    color: white;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 300ms;
}
.btn__text:hover{
    background: transparent;
    border: 2px solid var(--color_text-primary);
    color: var(--color_text-tertiary);
}
.image__cover{
    width: 100%;
}

/*End Portada Inicio*/

/*Estilos Generales Cards*/

.container__card-primary{
    padding-top: 100px;
}

.card__primary{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 20px;
}

.text__card-primary{
    max-width: 800px;
    margin: auto;
}

.text__card-primary p{
    color: var(--color_text-primary);
    letter-spacing: 4px;
    font-size: var(--text_paragraph);
    font-weight: 500;
}

.text__card-primary h1{
    font-size: var(--text_size_title);
    font-weight: 600;
    color: var(--color_text-secundary);
}

.container__box-cardPrimary{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}



.box__card-primary{
    max-width: 350px;
    padding: 60px 40px;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    margin: 14px;
    transition: all 300ms;
}
.box__card-primary img{
    width: 100%;
}

.box__card-primary:hover{
    border: 1px solid transparent;
    box-shadow: var(--box_shadow-primary);
}

.box__card-primary h2{
    font-size: var(--text_title_card);
    margin-top: 40px;
    font-weight: 500;
}

.box__card-primary p{
    margin-top: 20px;
}

/*End Estilos Generales Cards*/

/*saber mas*/
.container__knowmore{
    padding-top: 100px;
    padding-bottom: 100px;
    background: var(--color_text-fourth);
}

.knowmore__first{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.text__knowmore{
    width: 100%;
    padding-right: 150px;
}

.text__knowmore h1{
    font-size: 50px;
    color: var(--color_text-primary);
}

.text__knowmore p{
    font-size: var(--text_paragraph);
    margin-top: 40px;
    color: var(--color_text-fifth);
}

.btn__text{
    display: block;
    width: 150px;
    margin-top: 40px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 500;
    background: var(--color_text-primary);
    color: white;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 300ms;
}

.btn__text:hover{
    background: transparent;
    border: 2px solid var(--color_text-primary);
    color: var(--color_text-tertiary);
}

.image__knowmore{
    width: 350px;
    height: 250px;
    margin: 0 5px;
    border-radius: 25px;
    display: flex;
    margin-right: 280px;
    
   
    
}
/* contenedores servicios */

/*Estilos Generales Cards*/

.container__services-primary{
    padding-top: 100px;
}

.cardServices__primary{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 20px;
}

.text__services-primary{
    max-width: 800px;
    margin: auto;
}



.text__services-primary h1{
    font-size: var(--text_size_title);
    font-weight: 600;
    color: var(--color_text-secundary);
}

.container__box-cardPrimaryServices{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}



.box__card-primary-services{
    max-width: 350px;
    padding: 60px 40px;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    margin: 14px;
    transition: all 300ms;
}
.box__card-primary-services img{
    width: 100%;
}

.box__card-primary-services:hover{
    border: 1px solid transparent;
    box-shadow: var(--box_shadow-primary);
}

.box__card-primary-services h2{
    font-size: var(--text_title_card);
    margin-top: 40px;
    font-weight: 500;
}

.box__card-primary-services p{
    margin-top: 20px;
}

.box__card-primary-services i{
    margin-top: 40px;
    font-size: 40px;

}


.container__card-primary{
    padding-top: 100px;
}

.card__primary{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 20px;
}

.text__card-primary{
    max-width: 800px;
    margin: auto;
}

.text__card-primary p{
    color: var(--color_text-primary);
    letter-spacing: 4px;
    font-size: var(--text_paragraph);
    font-weight: 500;
}

.text__card-primary h1{
    font-size: var(--text_size_title);
    font-weight: 600;
    color: var(--color_text-secundary);
}

.container__box-cardPrimary{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

/*proyectos*/

/*Estilos Generales Cards*/

.container__card-primary-proyect{
    background: var(--color_text-fourth);
    padding-top: 100px;
}

.card__primaryProyect{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 20px;
}

.text__card-primaryProyect{
    max-width: 800px;
    margin: auto;
}

.text__card-primaryProyect p{
    color: var(--color_text-tertiary);
    letter-spacing: 4px;
    font-size: var(--text_paragraph);
    font-weight: 500;
}

.text__card-primaryProyect h1{
    font-size: var(--text_size_title);
    font-weight: 600;
    color: var(--color_text-tertiary);
}

.container__box-cardPrimaryProyect{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}



.box__card-primary-Proyect{
    max-width: 350px;
    padding: 40px 40px;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    margin: 14px;
    transition: all 300ms;
    height: auto;
}

.box__card-primary-Proyect img{
    object-fit: contain;
    width: 100%;
    height: auto;
}

.box__card-primary-Proyect:hover{
    border: 1px solid transparent;
    box-shadow: var(--box_shadow-primary);
    
}

.box__card-primary-Proyect h2{
    font-size: var(--text_title_card);
    color: var(--color_text-primary);

    margin-top: 40px;
    font-weight: 90000;
    
}

.box__card-primary-Proyect p{
    color: var(--color_text-primary);
    margin-top: 20px;
    font-weight: 90000;
}

/*End proyectos*/

/*inicio empleado*/

.container__card-primary-empleado{
    padding-top: 100px;
}

.card__primaryEmpleado{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 20px;
}

.text__card-primaryEmpleado{
    max-width: 800px;
    margin: auto;
}

.text__card-primaryEmpleado p{
    color: var(--color_text-tertiary);
    letter-spacing: 4px;
    font-size: var(--text_paragraph);
    font-weight: 500;
}

.text__card-primaryEmpleado h1{
    font-size: var(--text_size_title);
    font-weight: 600;
    color: var(--color_text-tertiary);
}

.container__box-cardPrimaryEmpleado{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;

}

.box__card-primary-empleado{
    max-width: 350px;
    padding: 80px 60px;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    margin: 14px;
    transition: all 300ms;
    

}

.circle-img{
    height: 150px;
    width: 150px;
    position: relative;
    top: 5px;
    margin-left: 25px;
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 15px rgb(58, 54, 54);
   


}

.box__card-primary-empleado:hover{
    border: 1px solid transparent;
    box-shadow: var(--box_shadow-primary);
}

.title-empleado{
    font-size: 15px;
    padding-bottom: 0px;
    color: var(--color_text-primary);

}

.box__card-primary-empleado h3{
    margin-top: 35px;
    margin-bottom: 2px;
    min-height: 4px;
}
.box__card-primary-empleado h4{
    margin-top: 50px;
    margin-bottom: 20px;
}

.box__card-primary-empleado p{
    
    padding-left: 30px;
    padding-right: 30px;
    
    line-height: 3;
    color: rgb(255, 255, 255);
    font-size: 15px;


}
.socialMediaworker{
    margin: 0px 10px;
    width: 20px;

}

.socialMediaworker a{
    margin: 0px 4px;
}
.socialMediaworker img{
    width: 15px;
}



/*End empleados*/

/*inicio formulario*/

.container_formulario{
    display: flex;
    justify-content: space-between;
    
    background: var(--color_text-fourth);
}
.formulario{
    width: 400px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    padding: 30px;
    width: 100%;
    
}
.text__formulario{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    
    font-size: var(--lowText_font_size);
}
.text__formulario .controls{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    justify-content: space-between;
    font-size: var(--lowText_font_size);
}

.text__formulario .text__card-primaryformulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: auto;
}

.text__formulario .text__card-primaryformulario p{
    color: var(--color_text-tertiary);
    letter-spacing: 2px;
    font-size: var(--text_paragraph);
    font-weight: 500;
}

.text__formulario .text__card-primaryformulario h1{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: var(--text_size_title);
    font-weight: 600;
    color: var(--color_text-tertiary);
    text-align: center;
}

.btn__formulario{
    display: block;
    width: 150px;
    margin-top: 40px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 500;
    background: var(--color_text-primary);
    color: white;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 300ms;
}
.btn__formulario:hover{
    background: transparent;
    border: 2px solid var(--color_text-primary);
    color: var(--color_text-tertiary);
}
.image__formulario{
    width: 50%;
    background-size: cover;
    background-position: center;
    
}
/*fin formulario*/

/*End Estilos Generales Cards*/

/*mapa*/

.map{
    width: 100%;
}
/*end mapa*/

/*footer*/
.footer-container {
    background-color: var(--color_text-fifth);
    color: #fff;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.footer-section {
    flex: 1;
    margin: 0 10px;
}

.footer-section .contact-info {
    margin-bottom: 15px;
    font-size: 1.1em;
}

.footer-section .contact-info i {
    margin-right: 10px;
}

.footer-section h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: var(--color_text-secundary);
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color:var(--color_text-primary);
}

.footer-section p {
    font-size: 1em;
    margin-bottom: 15px;
}

.footer-section input[type="email"] {
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.footer-section button {
    padding: 10px 20px;
    background-color:var(--color_text-tertiary);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.footer-section button:hover {
    background-color:var(--color_text-fourth);
}

.footer-bottom {
    background-color: #111;
    padding: 20px 0;
    text-align: center;
    color: #888;
}

.footer-bottom .social-media {
    margin-bottom: 15px;
}

.footer-bottom .social-media a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

.footer-bottom .social-media a:hover {
    color: var(--color_text-secundary);
}

.footer-bottom p {
    font-size: 0.9em;
}

.container__services-primary,
.text__services-primary h1 {
    color: #FFFFFF;
}

.trust .text__card-primary p,
.trust .text__card-primary h1,
.trust .box__card-primary h2,
.trust .box__card-primary p {
    color: #ffffff; /* Blanco */
}

.box__card-primary-empleado h3 {
    color: #ffffff; 
}


/* Cambia el color de las flechas a rojo */
.fa-arrow-right {
    color: var(--color_text-primary);
}



/*end footer*/
